#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.full-height-card {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white; /* facultatif: fond gris clair autour */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.animated-logo {
  opacity: 0;
  animation: fadeInFill 2s ease-in-out forwards;
}

.flip-box {
  background-color: transparent;
  color: white;
  width: 65px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: transform 0.6s;
  will-change: transform;
}

.flip-box.flip .flip-value {
  animation: flip 0.6s ease;
}

.flip-value {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.flip-label {
  font-size: 0.75rem;
  margin-top: 0.2rem;
  text-align: center;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  40% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}



@keyframes fadeInFill {
  0% {
    transform: scale(0.8);
    opacity: 0;
    filter: grayscale(100%);
  }
  50% {
    opacity: 0.5;
    filter: grayscale(50%);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: grayscale(0%);
  }
}

